
body{
    background: rgb(230, 230, 229);
    text-align: center;
}
h1{
    background: lightcoral;
    color: white;
    padding: 15px;
}
.container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 30px;
    align-items: center;
}
.product1, .product2, .product3{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 3px 3px 6px grey;
    flex-wrap: wrap;
}
.product1 img, .product2 img, .product3 img{
    width: 100%;
}
button{
    width: 100%;
    padding: 14px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}
button:hover{
    background-color: grey;
}
p{
    font-size: 20px;
    font-weight: 50px;
}
.product1:hover, .product2:hover, .product3:hover{
    box-shadow: 12px 10px 4px grey;
}
