*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.d1{
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}
h1{
    color: blueviolet;
    margin-bottom: 20px;
}
#inc, #dec{
    background-color: palevioletred;
    border: none;
    padding: 5px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
#restart{
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background-color: powderblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
