*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.d1{
    background: white;
    
}